.bubbles {
  padding-top: 65px;
  p {
    font-size: 15px;
    font-weight: bold;
  }
}
.bubble {
  &-container {
    position: relative;
    padding: 10px 40px;
    display: flex;
    max-width: 340px;
    justify-content: space-around;
  }
  &-black {
    background: $dark-gray;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 25px;
  }
  &-yellow {
    background: $yellow;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    font-size: 18px;
    &.right {
      bottom: -70px;
      right: -2px;
      overflow: hidden;
    }
    &.left {
      top: -70px;
      left: -10px;
    }
  }
  &-text-left {
    position: absolute;
    top: -50px;
    left: 154px;
  }
  &-text-right {
    position: absolute;
    bottom: -55px;
    left: 0;
  }
}

// .text-bold {
//   font-weight: bold;
// }
