nav {
  padding-bottom: 45px;
}

.logo {
  &-block {
    max-width: 200px;
    margin: auto;
    flex: 1;
    p {
      line-height: 15px;
    }
  }
  &-text {
    font-family: 'GFS Didot', serif;
    font-size: 28px;
  }
}

.nav-text {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  a {
    color: #333333;
  }
  a:visited {
    color: #333333;
  }
}
