nav {
  padding-bottom: 60px;
}
.nav-text {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;
  font-family: 'GFS Didot', serif;
  font-size: 20px;
  font-weight: bold;
}
