nav {
  padding-bottom: 45px;
}

.logo {
  &-block {
    max-width: 190px;
    margin: auto;
    p {
      margin-top: 30px;
      line-height: 15px;
    }
  }
  &-text {
    font-family: 'GFS Didot', serif;
    font-size: 23px;
  }
}

.nav-text {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;
  font-family: 'GFS Didot', serif;
  font-size: 20px;
  font-weight: bold;
  a {
    color: #333333;
  }
  a:visited {
    color: #333333;
  }
}
