.section {
  padding: 45px 0 90px;
  .full {
    min-height: 100vh;
  }
}

.presentation {
  background: $yellow;
}

.engagement {
  background: white;
}

.explanation {
  background: $dark-gray;
  color: white;
}
