.section {
  padding: 45px;
  .full {
    min-height: 100vh;
  }
}

.presentation {
  background: $yellow;
}

.explanation {
  background: $dark-gray;
  color: white;
}

.cta {
  background: $yellow;
}

.pricing {
  padding-bottom: 60px;
}
