.presentation {
  background: $yellow;
  padding: 30px 0 60px;
  color: #333333;
  h1 {
    font-size: 27px;
  }
}

.explanation {
  background: $dark-gray;
  color: white;
  padding: 70px 0;
}

.engagement {
  padding: 40px 0;
}

.cta {
  background: $yellow;
  padding: 50px 0;
}

.pricing {
  padding-top: 50px;
  padding-bottom: 100px;
}
